<!-- partial to display tasks -->
<div class="col-md-12">
	<div class="well">

		<h3><%= link_to task.description, task, remote: true, method: :delete, data: {confirm: 'Are you sure?'} %></h3>

		<p><%= task.deadline %></p>
			<p>
				<%= link_to edit_task_path(task), remote: true do %>
					Edit <i class="fa fa-pencil" aria-hidden="true"></i>
				<% end %>
				</p>
	</div>
</div>