<div class="row">
  <div class="col-md-4">
    <p></p>
<!-- This hides the form when the page is first loaded -->
    <div class="pull-right">
      <%= link_to new_task_path, remote: true do %>
        New Task <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <% end %>
    </div>



    <div id="task-form" style="display:none;"></div>
  </div>
<!-- Need to display tasks that are already made -->
  <div class="col-md-8">
    <h2 class="text-center">Tasks</h2>
    <div id="tasks">
      <div class="row">
        <%= render @tasks %>
      </div>
    </div>
  </div>
</div>